*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: rgb(167, 98, 129);
    height: 100vh;
}
.interface{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    
} 
.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 300;
    background-color:#6DDEF9;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
 h2.titulo{
    color: #6A0188;
    font-size:30px;
    text-align: center;
 }
 h2.titulo span{
    color:#6DDEF9;
 }
/*estilo do cabeçalho*/
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items:center ;
    justify-content: space-between;

}
header a{
    color: #6A0188;
    text-decoration:none ;
    display: block;
    transition: .2s;
    
    }
header a:hover{
    color: #ffffff;
    transform:scale(1.05);

}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px ;
}
 
 .btn-contato button:hover{
    box-shadow: 0px 0px 8px #6DDEF9;
    transform: scale(1.05);
}
/*estilo topo*/
section.topo-do-site{
    padding:40px 4% ;

}
section.topo-do-site {
    align-items: center;
    justify-content: center;
    gap: 90px;

}
.topo-do-site h1{
    color:#fff;
    font-size: 34px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color:#6A0188 ;
}
.topo-do-site .txt-topo-site p{
color:#6A0188;
margin: 40px 0px;

}
 .topo-do-site .txt-topo-site{
    text-align:left;
}
.topo-do-site .img-topo-site img{
position: relative;
animation: flutuar 2s ease-in-out infinite alternate;
border-radius: 50%;
max-width: 400px;
}
@keyframes flutuar{
  0%{
    top:0;
} 
100% {
    top: 30px
}
}
.log{
    border-radius: 100%;
    max-width: 200px;
    }

/*estilo das especidades*/
section.especialidades{
    padding: 40px 4% ;

}
section.especialidades .flex{
    gap:60px ;


}
.especialidades .especialidades-box{
    color:#6A0188;
    padding: 40px;
    border: 2px solid white;
    margin-top: 45px ;
    border-radius: 20px;
    transform:.2s ;

}
.especialidades .especialidades-box i{
    font-size: 70px;
    color:#6A0188;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    color: #6DDEF9;
}

.especialidades .especialidades-box:hover{
   transform: scale(1.05); 
   box-shadow: 0 0 20px #6A0188 ;

}


.sobre-mim{
    padding: 40px 4%;
    font-size: 28px;
    align-items: center;
    color: #6A0188;
}
.img-topo-site{
    text-align: right;

}

